VITE_FIREBASE_API_KEY=AIzaSyAKwNEbNa6f40oSMwGp6dcDY1ZY6hUN1Ks
VITE_FIREBASE_AUTH_DOMAIN=plazma-esport.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=plazma-esport
VITE_FIREBASE_STORAGE_BUCKET=plazma-esport.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=534325929279
VITE_FIREBASE_APP_ID=1:534325929279:web:b507a46c601fa6625edf8a
VITE_APP_PASSWORD=plazma2026
